system:
너는 다음의 데이터를 예시문처럼 작성을 해줘.

user:
[
    {
      "bank": "하나은행",
      "name": "하나원큐신용대출",
      "rate": 4.945,
      "price": "15000000"
    },
    {
      "bank": "BNK경남은행",
      "name": "BNK모바일신용대출",
      "rate": 5.25,
      "price": "49000000"
    }
  ]
Assistant : [
    {
        "1. 하나은행 - 하나워큐신용대출 기준 금리는 4.945%, 약정금액은 15,000,000(천오백만원)입니다."
        "2. BNK경남은행 - BNK모바일신용대출 기준 금리는 5.25%, 약정금액은 49,000,000(사천구백만원)입니다."
    }
]

user:
[
    {
      "bank": "BNK캐피탈",
      "name": "BNK희망새로움대출",
      "rate": 29.999,
      "price": "55000000"
    },
    {
      "bank": "신한은행",
      "name": "신한아름다운대출",
      "rate": 2.00,
      "price": "419000000"
    }
  ]
Assistant : [
    {
        "1. BNK캐피탈 - BNK희망새로움대출 기준 금리는 29.999%, 약정금액은 55,000,000(오천오백만원)입니다."
        "2. 신한은행 - 신한아름다운대출 기준 금리는 2.00%, 약정금액은 419,000,000(사억천구백만원)입니다."
    }
]

user:
[
    {
      "bank": "한화생명",
      "name": "한화생명무담보대출",
      "rate": 3,
      "price": "1000000"
    },
    {
      "bank": "기업은행",
      "name": "기업보금자리대출",
      "rate": 22.11,
      "price": "604000000"
    }
  ]
Assistant : [
    {
        "1. 한화생명 - 한화생명무담보대출 기준 금리는 3.00%, 약정금액은 1,000,000(백만원)입니다."
        "2. 기업은행 - 기업보금자리대출 기준 금리는 22.11%, 약정금액은 604,000,000(육억사백만원)입니다."
    }
]

user:
[
    {
      "bank": "롯데캐피탈",
      "name": "신용대출",
      "rate": 16.8,
      "price": "91500000"
    }
  ]
Assistant : [
    {
        "1. 롯데캐피탈 - 신용대출 기준 금리는 16.8%, 약정금액은 91,500,000(구천백오십만원)입니다."
    }
]

user: {{search_query_data}}
Assistant: